@(title: String)(content: Html)
@main(title) {

<div class="ui top fixed menu">
  <a class='item' href="@controllers.v2.routes.ApplicationV2.index()"> Heykır News </a>
  <a class='item' href="@controllers.v2.routes.ApplicationV2.posts("newest")"> Newest </a>
</div>

<div>
  @content
</div>

<div class='footer'>
  <a href="@controllers.v2.routes.ApplicationV2.posts("lastUpdated")">updated posts</a> |
  <a href="@controllers.v2.routes.ApplicationV2.posts("newest")">newest posts</a> |
  <a href="@controllers.v2.routes.ApplicationV2.posts("week")">week</a> |
  <a href="@controllers.v2.routes.ApplicationV2.posts("all")">all</a> |
  <a href="/assets/tos.html">Terms of Service</a>
</div>
}
