a {
  color: #666;
}

a:hover {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #999;
  text-decoration: none;
}
a.selected {
  color: #333;
}
body {
  font-family: 'PT Sans', sans-serif;
  color: #666;
  font-size: 18px;
}
h1 {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 20px;
}
.post-title {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'PT Serif', serif;
}
.post-details {
  margin-left: 35px;
  font-size: 13px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.3;
}
.posts li {
  margin-bottom: 10px;
}
.posts li:hover .post-details {
  opacity: 1;
}
.fa-star-o {
  opacity: 0;
}
.posts li:hover .fa-star-o {
  opacity: 1;
}