@(posts: List[postranker.domain.Post])
@mainWithNavigation("Yolo-octo-ninja") {

      <ol class="posts">
            @for((post,index) <- posts.zipWithIndex) {

            <li>
          <div class="post-title"><i class="fa fa-star-o"></i> <i class="fa fa-caret-up"></i> <a href="@routes.Application.post(post.getSid)">@post.getMessage.take(500)</a></div>
          <div class="post-details">@(post.getComments.size + post.getLikes.size) points by <a href="@routes.Application.user(post.getFrom.getName)">@post.getFrom.getName</a> <a href="@routes.Application.post(post.getSid)">@(controllers.Utils.prettyTime.format(post.getCreatedTime))</a> | <a href="@routes.Application.post(post.getSid)">@(post.getComments.size) comments @(post.getLikes.size) likes</a></div>
        </li>
            }

</ol>
      <a href="#">show more <i class="fa fa-caret-down"></i></a>


}