@(title: String)(content: Html)
@main(title) {


        <center>
            <table id="hnmain" op="news" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tbody>
                    <tr>
                        <td bgcolor="#ff6600">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                                <tbody>
                                    <tr>
                                        <td style="width:18px;padding-right:4px"><a href="@routes.Application.index()"><img src="@routes.Assets.at("y18.gif")" width="18" height="18" style="border:1px #ffffff solid;"></a></td>
                                        <td style="line-height:12pt; height:10px;"><span class="pagetop">
                                            <b><a href="@routes.Application.index()">Yolo-Octo-Ninja</a></b>
                                            <img src="@routes.Assets.at("s.gif")" height="1" width="10">
                                            <a href="@routes.Application.posts("day")">day</a> |
                                            <a href="@routes.Application.posts("2day")">last48h</a> |
                                            <a href="@routes.Application.posts("week")">week</a> |
                                            @*<a href="/newcomments">comments</a> |*@
                                            @*<a href="/show">show</a> |*@
                                            @*<a href="/ask">ask</a> |*@
                                            <a href="@routes.Application.submit()">submit</a>
                                        </span></td>

                                        <td style="text-align:right;padding-right:4px;">
                                            <span class="pagetop">
                                                <a href="@routes.Application.user("9999")">user</a>
                                                    &nbsp;(1453)&nbsp;|&nbsp;
                                                <a href="@routes.Application.showLoginPage()">login</a>&nbsp;|&nbsp;
                                                <a href="@routes.Application.showRegisterPage()">register</a> &nbsp;|&nbsp;
                                                <a href="@routes.Application.logout()">logout</a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                    <tr>
                        <td>

                            @content


                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="@routes.Assets.at("s.gif")" height="10" width="0">
                            <table width="100%" cellspacing="0" cellpadding="1"><tbody><tr><td bgcolor="#ff6600"></td></tr></tbody></table><br>
                            <center><center><a href="/apply/">_____</a></center><br>
                                <span class="yclinks"><a href="/newsguidelines.html">Guidelines</a> | <a href="/newsfaq.html">FAQ</a> | <a href="mailto:">Support</a> | <a href="/API">API</a> | <a href="/lists">Lists</a> | <a href="/bookmarklet.html">Bookmarklet</a> | <a href="/dmca.html">DMCA</a> | <a href="/">Yolo Octo Ninja</a> | <a href="/apply/">Apply</a> | <a href="mailto:xxxx">Contact</a></span><br><br>
                                <form method="get" action="">Search: <input type="text" name="q" value="" size="17" ></form>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>


}
