@(post: postranker.domain.Post)
@mainWithNavigation("Post yolo-octo-ninja") {

    <h1>Post page (@post.getFrom.getName) (@post.getSid)</h1>
    <p>@post.getMessage</p>
    <hr/>
    <p>

        <b>postid </b>: @post.getSid <br/>

        <b>likes</b>: @post.getLikes <br/>
        <b>who</b>: @post.getFrom.getName<br/>
        <b>date</b>: @post.getCreatedTime<br/>
        <b>message</b>: <br/>

    </p>
    <hr/>
    <h2>Comments</h2>
    <ul>

    @for(comment <- post.getComments.toList) {
        <li>
            <span><b>FROM:</b> @comment.getFrom</span> | <small>likes: <b>@comment.getLikeCount</b></small> <br/>
            <span>@comment.getMessage</span> <br/> <br/>
        </li>
    }
    </ul>
}
